body {
    background-color: firebrick;
}

#editor, #preview {
    padding: 20px;
   	margin: 10% auto;
	  width: 100%;
}

#preview {
    background-color: aquamarine;
}

img {
  width: 100%;
  margin: auto;
}